{%extends 'base.html'%}

{%block styles%}
		.title{
			color:white;
			position:absolute;
			bottom:0;
			padding-left:17%;
			width:100%;
		}
{%endblock styles%}

{%block header%}
	
	<div class="parallax-container">
		<h1 class="title">{{noticia.titulo}}</h1>
    <div class="parallax"><img src="{{noticia.imagen.url}}"></div>
  </div>

{%endblock header%}


{%block content%}
	<p>Por: <b>{{noticia.autor}}</b></p>
	<p class="flow-text"> {{noticia.cuerpo}} </p>
	<a href="/noticias">Regresar</a>
{%endblock content%}

{%block scripts%}
	$(document).ready(function(){
    $('.parallax').parallax();
  });
{%endblock scripts%}